@import url('https://fonts.googleapis.com/css?family=Montserrat');

*{
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}
body{
	font-family: Montserrat;
	font-size: 20px;
}

.overlay{
	background: black;
	background: url(code.jpg) no-repeat center center fixed;
	background-size: cover;
	position: fixed;
	top: 0;
	width: 100%;
	height: 100vh;
	filter: blur(2px);
}
.main{
	border: 1px solid white;
	border-left: 2px solid #a5a5a5;
	border-right: 2px solid #a5a5a5;
	position: relative;
	display: block;
	width: 800px;
	margin: auto;
	background-color: #ffffff;
	/*padding: 10px 20px 10px 20px;*/
}
.project{
	border: 1px solid #f5f5f5;
	border-radius: 10px;
	width: auto;
	background-color: #f5f5f5;
	box-shadow: inset 0 0 10px #a5a5a5;
	margin: 10px 20px 10px 20px;
	position: relative;
}
.project-title{
	font-size: 1.5em;
	border-bottom: 1px solid #a5a5a5;
	padding: 15px;
}
.project-content{
	padding: 40px 0 30px 0;
}
input[type="text"]{
	display: block;
	font-size: 1em;
	line-height: 2em;
	padding: 0 20px 0 20px;
	border: 1px solid black;
	color: black;
	border-radius: 5px;
	margin: auto;
	outline: none;
}
input[type="text"]:focus{
	/*background-color: yellow;*/
	/*box-shadow: 0 0 2px 0 red;*/
	/*color: black;*/
	/*border: 1px solid red; */
}
#palindrome-input{
	width: 80%;
}
#converter-input{
	width: 60%;
}
#decoder-input{
	width: 90%;
}
#palindrome-output,
#converter-output,
#decoder-output,
#validator-output{
	line-height: 2em;
	font-size: 1.2em;
	text-align: center;
	font-weight: bold;
	padding-top: 20px;
	max-width: 90%;
	word-wrap: break-word;
	margin: auto;
}
#cash-register{
	display: flex;
}
#cash-register hr{
	border-top: 1px solid #a5a5a5;
	margin: 5px 0 5px 0;
}
.cash-register-inputGroup,
.cash-register-outputGroup{
	flex: 1;
	display: flex;
	flex-direction: column;
}
.cash-register-inputGroup{
	border-right: 1px solid #a5a5a5;
	padding: 10px 5px 15px 5px;
}
.cash-register-input{
	display: flex;
	padding: 5px;
}	
.cash-register-input input{
	display: block;
	font-size: 0.8em;
	line-height: 2em;
	border-radius: 3px;
	max-width: 50%;
	padding: 0 10px 0 10px;
	flex: 1;
}
.cash-register-input label{
	font-size: 0.8em;
	max-width: 50%;
	flex: 1;
	margin: auto;
	text-align: right;
	padding-right: 20px; 
}
.cash-denomination{
	border-top: 1px solid #a9a9a9;
}